.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  font-size: 1.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  grid-row-start: 2;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid #ccc;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.redirecting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.redirectingRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.titleLogo {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.bigOrangeButton {
  background: #f7931a;
  color: #fff;
  padding: 1.25rem 2.5rem;
  border: none;
  border-radius: 999px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.bigOrangeButton:hover {
  background: #c6760b;
}
